In [20]:
# merge health data and annual measures data for now

In [21]:
import os
import pandas as pd

In [22]:
# load annual measures
# annual_measures = pd.read_csv(os.path.join("..", "processed", "collapsed_measures", "LA_zipcode_measures_all_years.csv"))
annual_measures = pd.read_csv(os.path.join("..", "processed", "collapsed_measures", "LA_zipcode_measures_all_years_max_rng.csv"))
annual_measures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4626 entries, 0 to 4625
Columns: 178 entries, YEAR to MAX_RNG_5_Inf
dtypes: float64(151), int64(27)
memory usage: 6.3 MB

In [23]:
# load health data
mortality = pd.read_csv(os.path.join("..", "processed", "health_data", "mortality_rates_catchment.csv"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                3936 non-null   int64
 1   Zipcode             3936 non-null   int64
 2   Age_0_4             3936 non-null   float64
 3   Age_5_14            3936 non-null   int64
 4   Age_15_64           3936 non-null   float64
 5   Age_65_84           3936 non-null   float64
 6   Age_85_and_Over     3936 non-null   float64
 7   Accidents           3936 non-null   float64
 8   Total               3936 non-null   float64
 9   Alzheimers          3936 non-null   float64
 10  Homicide            3936 non-null   float64
 11  Cerebrovascular     3936 non-null   float64
 12  Cirrhosis           3936 non-null   float64
 13  Respiratory         3936 non-null   float64
 14  Diabetes            3936 non-null   float64
 15  Heart               3936 non-null   float64
 16  Hypertension        3936 non-null   float64
 17  InfluenzaPneumonia  3936 non-null   float64
 18  Suicide             3936 non-null   float64
 19  Neoplasms           3936 non-null   float64
 20  Nephrosis           3936 non-null   float64
 21  Parkinsons          3936 non-null   float64
dtypes: float64(19), int64(3)
memory usage: 676.6 KB

In [24]:
# load health data (er catchment data)
er = pd.read_csv(os.path.join("..", "processed", "health_data", "er_rates_catchment.csv"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   YEAR                      3936 non-null   int64
 1   ZIPCODE                   3936 non-null   int64
 2   PerinatalDisorders        3690 non-null   float64
 3   PregnancyBirthPuerperium  3690 non-null   float64
 4   CongenitalAnomalies       3690 non-null   float64
 5   BloodBloodformingOrgans   3690 non-null   float64
 6   Circulatory               3690 non-null   float64
 7   Digestive                 3690 non-null   float64
 8   Endocrine                 3690 non-null   float64
 9   Respiratory               3690 non-null   float64
 10  NervousSensory            3690 non-null   float64
 11  Musculoskeletal           3690 non-null   float64
 12  Neoplasms                 3690 non-null   float64
 13  Genitourinary             3690 non-null   float64
 14  Infections                3690 non-null   float64
 15  InjuriesPoisoning         3690 non-null   float64
 16  MentalIllness             3690 non-null   float64
 17  Skin                      3690 non-null   float64
 18  Symptoms                  3690 non-null   float64
 19  Other                     3690 non-null   float64
 20  EDvisits                  3936 non-null   float64
 21  Age_0_9                   3936 non-null   float64
 22  Age_10_59                 3936 non-null   float64
 23  Age_60_79                 3936 non-null   float64
 24  Age_80_and_Over           3936 non-null   float64
dtypes: float64(23), int64(2)
memory usage: 768.9 KB

In [25]:
# compare zipcodes and years used for each
measures_zips = annual_measures.loc[annual_measures["YEAR"] == 2003, "ZIPCODE"]
mortality_zips = mortality.loc[mortality["Year"] == 2005, "Zipcode"]
er_zips = er.loc[er["YEAR"] == 2005, "ZIPCODE"]

measures_years = annual_measures["YEAR"].unique()
mortality_years = mortality["Year"].unique()
er_years = er["YEAR"].unique()

In [29]:
print(False in er_zips == mortality_zips)
print(False in er_years == mortality_years)

False
False

In [30]:
# filter annual measures to only contain moratality/er zips and mortality/er years
annual_measures_filtered = annual_measures[annual_measures.loc[:, "ZIPCODE"].isin(mortality_zips) & annual_measures.loc[:, "YEAR"].isin(mortality_years)]
annual_measures_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3936 entries, 514 to 4625
Columns: 178 entries, YEAR to MAX_RNG_5_Inf
dtypes: float64(151), int64(27)
memory usage: 5.4 MB

In [31]:
annual_measures_filtered.reset_index(drop=True, inplace=True)

In [32]:
annual_measures_filtered.tail()

,YEAR,ZIPCODE,DAILY_AVG_TEMP_Inf_0,DAILY_AVG_TEMP_0_1,DAILY_AVG_TEMP_1_2,DAILY_AVG_TEMP_2_3,DAILY_AVG_TEMP_3_4,DAILY_AVG_TEMP_4_5,DAILY_AVG_TEMP_5_6,DAILY_AVG_TEMP_6_7,...,DIURNAL_TEMP_RNG_39_40,DIURNAL_TEMP_RNG_40_Inf,HEATWAVE_CNT,MAX_RNG_Inf_0,MAX_RNG_0_1,MAX_RNG_1_2,MAX_RNG_2_3,MAX_RNG_3_4,MAX_RNG_4_5,MAX_RNG_5_Inf
3931,2020,91790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,6.521943,0.0,0.265394,172.814413,183.446711,8.473482,0.000000,0.0
3932,2020,91791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,5.923969,0.0,0.000000,151.948334,192.914252,19.950442,0.186972,0.0
3933,2020,91792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,5.058040,0.0,0.147867,150.408956,189.939405,24.334527,0.169244,0.0
3934,2020,91801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,5.578315,0.0,0.000000,148.593396,196.213387,20.193217,0.000000,0.0
3935,2020,91803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,5.483635,0.0,0.000000,145.031869,197.420802,22.547329,0.000000,0.0

In [33]:
mortality.rename(columns={"Year":"YEAR", "Zipcode":"ZIPCODE"}, inplace=True)

In [34]:
# merge the measures + mortality data
measures_mortality = annual_measures_filtered.merge(mortality, on=["YEAR", "ZIPCODE"])

In [35]:
measures_mortality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Columns: 198 entries, YEAR to Parkinsons
dtypes: float64(170), int64(28)
memory usage: 5.9 MB

In [36]:
# save measures + mortality
out_path = os.path.join("..", "processed", "merged", "measures_mortality.csv")
measures_mortality.to_csv(out_path, index=False)

In [37]:
# merge measures + er data 
measures_er = annual_measures_filtered.merge(er, on=["YEAR", "ZIPCODE"])

In [19]:
measures_er.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Columns: 201 entries, YEAR to Age_80_and_Over
dtypes: float64(174), int64(27)
memory usage: 6.0 MB

In [38]:
# save measures + er data
# out_path = os.path.join("..", "processed", "merged", "measures_er.csv")
out_path = os.path.join("..", "processed", "merged", "measures_er.csv")
measures_er.to_csv(out_path, index=False)

In [54]:
# merge all three dfs 
all_merged = measures_mortality.merge(er, on=["YEAR", "ZIPCODE"])

In [55]:
all_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Columns: 214 entries, YEAR to Age_80_and_Over
dtypes: float64(186), int64(28)
memory usage: 6.4 MB

In [57]:
# save all merged data
out_path = os.path.join("..", "processed", "merged", "all_merged.csv")
all_merged.to_csv(out_path, index=False)